@import '~styles/vendor/normalize';

/**
 * Add your global app styles here.
 *
 * Tip: Try to keep these styles to a minimum and instead create resuable
 * components with their own styles.
 */


html {
  font-size: 16px;
}

body {
  padding: 40px;
  background-color: black;
  color: white;
  /*padding: 1rem 10rem;*/
  font-family: AvenirNext;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}

input[type=text] {
  margin-bottom: 20px;
}

a {
  color: white;
  text-decoration: none;
  &:focus { outline: none; }
}

